.navbar-vertical {
  &.sidebarStatic { // открыта 
    .navbar-nav {
      width: $navbar-verticale-width;
      .nav-link {
        .nav-link-text {
          transform: scaleX(1) translateX(0%);
          opacity: 1;
          visibility: visible;
        }
      }
    }
    
  }
  &.navbar-expand {
    @each $breakpoint,
    $dimension in $grid-breakpoints {
      &-#{$breakpoint} {
        @include media-breakpoint-up(#{$breakpoint}) {
          display: block;
          position: fixed;
          top: 0;
          height: 100%;
          z-index: 1;
          align-items: flex-start;
          &.fixed-left {
            left: 0;
          }
          &.fixed-right {
            right: 0;
          }
        }
      }
    }
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: -$navbar-padding-x;
    margin-left: -$navbar-padding-x; 
    width: 4rem;
    transition: all 0.2s ease-in-out;
    .nav-item {
      width: 100%;
    }
    .nav-link {
      padding-left: 1em;
      display: flex;
      align-items: center;
      font-size: $navbar-nav-link-font-size;
      &:hover {
        color: aqua;
      }
      :first-child {
        height: 1em;
        width: 1em;
      }
      .nav-link-text {
        transform: scaleX(0) translateX(0%);
        transform-origin: right center;
        transition: 0.2s;
        padding-left: 30px;
      }
    }
  }
}

