@model ApplicationCore.Agency
<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img"/>
    <h2>ТурАгенство: @Model.NameAgency</h2>
    <p>Телефон горячей линии: @Model.NumTelephone</p>
    <p><a class="btn btn-primary" href="https://localhost:44321/tour/list/@Model.IdAgency">Выбрать тур онлайн</a></p>
</div>