@model ApplicationCore.Tour
<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.PictureUri"/>
    <h2>Название тура: @Model.NameTour</h2>
    <p>Цена: @Model.Price</p>
    <p><a class="btn btn-primary" href="#">Подобрать подходящее</a></p>
</div>