.input-group {
  box-shadow: $input-box-shadow;
  border-radius: $input-border-radius;
  transition: $transition-base;
  border-color: white;

  .form-control {
    box-shadow: none;
    border: none;
    margin-bottom: .1rem;
  }
}